@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

.material-symbols-outlined {
    font-size: 36px;
}

body {
    font-family: "Quicksand", sans-serif;
}

button {
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 15px;
    background-color: #fdf5ff;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccbdf4;
    border-radius: 25px;
    height: 500px;
    width: 400px;
    margin: auto;
}

.display-container {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 20px;
    border-radius: 15px;
    background-color: #fdf5ff;
    text-align: right;
}

.btn-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.backspace-btn, 
.clear-btn {
    width: 110px;
}